.main-title {
    height: 10vh;
    width: 100vw;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 5px #3da47a, 0 0 10px #3da47a, 0 0 20px #3da47a, 0 0 40px #337f5b;
}