#timer-container {
    height: 30vh;
    width: 25vw;
    border: 1px solid var(--secondary);
    padding: 1rem;
    margin: auto;
    text-align: center;
    background-color: var(--primary);
    color: var(--text);
}

.timer-title {
    text-decoration: underline;
}

#activity-input {
    padding: 0;
    margin: auto;
}

#activity-input:focus, #activity-input:hover {
    box-shadow: 0 0 0 2px var(--tertiary);
}

#timer-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.timer-buttons {
    background-color: var(--secondary);
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.start-button, .post-button {
    background-color: var(--tertiary);
}

.timer-buttons:hover {
    transition: all 0.3s ease-in;
    box-shadow: inset 0 0 0 3px var(--tertiary);
}

.start-button:hover, .post-button:hover {
    box-shadow: inset 0 0 0 3px var(--secondary);
}

.success-msg {
    background-color: var(--secondary);
    text-align: center;
    font-weight: bold;
}

.error-msg {
    background-color: var(--tertiary);
    text-align: center;
    font-weight: bold;
}